:root {
  --bg-gradient: linear-gradient(180deg, #fff8e7, #ffd6e0, #dbe7ff);
  --border-radius: 8px;
  --border-radius-large: 8px;
  --border-radius-xl: 12px;
}
:root {
}
body {
  background: var(--bg-gradient);
}

.gallery-container {
  text-align: center;
  margin: auto;
  width: 90%;
}

.gallery-image {
  margin: 4px;
  border-radius: var(--border-radius);
}

img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: var(--border-radius);
}

.gallery-container a {
  text-decoration: none;
  color: inherit;
}
