:root {
  --bg-color: #fcf4e4;

  --border-radius: 8px;
  --border-radius-large: 8px;
  --border-radius-xl: 12px;
}

body {
background: var(--bg-color)
}

.gallery-container {
  text-align: center;
  margin: auto;
  width: 80%;
}

@media (min-width: 720px) {
  .gallery-container {
    text-align: center;
  }
}

.gallery-image {
  margin: 2px;
  border-radius: var(--border-radius);
}

img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

img a {
  margin: 0 auto;
}