---
layout: default
title: Taartje van Geluk
---
<div class="row">

{% assign image_files = site.static_files | where_exp: "image", "image.path contains 'images'" %}

<div class="column">
{% assign i = 0  %}
{% for image in image_files %}
{% assign sum = i | modulo: 4 %}
{% if sum == 0 %}
<img src="{{ image.path }}" alt="image" />
{% endif %}  
{% assign i = i | plus: 1  %}
{% endfor %}
</div>

<div class="column">
{% assign i = 0  %}
{% for image in image_files %}
{% assign sum = i | modulo: 4 %}
{% if sum == 1 %}
<img src="{{ image.path }}" alt="image" />
{% endif %}  
{% assign i = i | plus: 1  %}
{% endfor %}
</div>

<div class="column">
{% assign i = 0  %}
{% for image in image_files %}
{% assign sum = i | modulo: 4 %}
{% if sum == 2 %}
<img src="{{ image.path }}" alt="image" />
{% endif %}  
{% assign i = i | plus: 1  %}
{% endfor %}
</div>

<div class="column">
{% assign i = 0  %}
{% for image in image_files %}
{% assign sum = i | modulo: 4 %}
{% if sum == 3 %}
<img src="{{ image.path }}" alt="image" />
{% endif %}  
{% assign i = i | plus: 1  %}
{% endfor %}
</div> 
</div>
